.div1{
    width: 1312px;
    height: 45px;
    background-color: white;
    margin: 5px 4px 5px 5px;
    font-style: oblique;
    border: dimgrey 3px solid;
    box-shadow: 3px 3px 3px 3px black;
}

.flex{
    display: flex;
    justify-content: flex-end;
}

.imgdd{
    margin: 2vh 2vh 1vh 2vh; height: 89%; width: 86%;
}

.div2{
    background-color: #ffffff;
    margin: 5px 4px 5px 5px;
    border: dimgrey 3px solid;
    box-shadow: 0px 0px 10px 4px black;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y:unset ;
    align-content: flex-start;
    justify-content: space-between;
}

.div3{
    width: 350px;
    height: 150vh;
    background-color: 
    #ffffff;
    margin: 5px 4px 5px 5px;
    border: dimgrey 3px solid;
    box-shadow: 3px 3px 3px 3px black;
}

.div{
    border-radius: 11px;
    box-shadow:inset 0px 0px 10px 4px rgb(87, 175, 87);
}

body{
    background-color: silver;
}

.a{
    background-color: #ffffff;
    width: 255px;
    height: 230px;
    margin: 0px 0px 0px 3px;
    border-radius: 5px;
    box-shadow:inset 0px 0px 10px 4px rgb(87, 175, 87);
    position: relative;
    left: 2%;
}

.b{
    background-color: red;
    width: 40px;
    height: 30px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    position: relative;
    top: -97%;
    left: 73%;
    margin: 3px 0px 0px 0px;
}

.c{
    width: 163px;
    height: 135px;
    background-color: #ffffff;
    padding: 4px 1px 7px 4px;
    margin: -39px 6px -58px -3px;
    position: relative;
    top: 20;
    left: 2%;
}

.t{
    width: 275px;
    height: 420px;
    background-color: #ffffff;
    margin: 5px 6px 5px 4px;
    box-shadow:inset 0px 0px 10px 4px rgb(87, 175, 87);
    border-radius: 5px;
}

.d{
    width: 70px;
    height: 130px;
    position: relative;
    top: -34%;
    left: 70%;
}

.box{
    size: 8vh;
    padding: 1vh 1vh;
    font-style: oblique;
    margin: 1vh 2vh 1vh 1vh;
    width: 320px;
}

.img{
    height: 32vh;
    width: 32vh;
    top: 12;
    left: 12%;
    margin: 4% -2% 2% 9%;
}

.total{
    width: 36vh;
    height: 4vh;
    background-color: red;
    border: red 2px solid;
    border-radius: 5px;
    padding: 1vh 10vh 0vh 10vh;
    margin: 0vh 1vh 1vh 1vh;
}

.dir{
    width: 57vh;
    height: 80vh;
    border: gray 1px solid;
    background-color: #ffffff;
    margin: 0vh 1vh 0vh 1vh;
    border-radius: 3px;
}

.panier {
    width: 55vh;
    height: 5vh;
    border: palegreen 3px solid;
    margin: 0.5vh 1vh 1vh 0.5vh;
}